<% include header %>

<%
    var bans = locals.bans;
%>

<div class="content-wrapper">
    
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Liste des Joueurs</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><%= locals.config.name %></a></li>
                        <li class="breadcrumb-item active">Liste des bannissements</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fas fa-tasks"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">NOMBRES DE BANNISSEMENT</span>
                        <span class="info-box-number"><%= bans.length %></span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Liste des bannissements :
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="bans">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">SteamID</th>
                                        <th scope="col">Temps de ban</th>
                                        <th scope="col">Raison</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for( var k in bans ){
                                        var tbl = bans[k];
                                    %>
                                    <tr>
                                        <td><%= tbl.id %></td>
                                        <td><%= tbl.steamid %></td>
                                        <td><%= tbl.ban_time %></td>
                                        <td><%= tbl.reason %></td>
                                        <td class="text-center">
                                            <!--<a type="button" href="/users/profil/<%= tbl.id %>"><i class="fas fa-sign-in-alt"></i></a>-->
                                        </td>
                                    </tr>  
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        $('#bans').DataTable({
            "lengthChange": true,
            "searching": true,
            "pageLength": 25,
        });  

        setActive('header-banlist')
    } );
</script>  

<% include footer %>